body {
  margin: 0px 20px;
  background-color: #5baddd;
  font-family: 'Andika', monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Germania One', cursive;
  color: #F94A4B;
}
nav {
  display: flex;
  justify-content: flex-end;
  background-color: #5baddd;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav ul li {
  display: block;
  text-align: center;
  text-decoration: none;
}
nav ul a {
  color:white;
  padding: 1rem 1.5rem;
  display: block;
  transition: all .25s ease-in-out;
}
nav ul li img {
  width: 60%;
  display: block;
  padding: 1rem 1.5rem;
  transition: all .25s ease;
}
header {
  background: url("../images/etc/kp-logo.png") center center/contain no-repeat;
  background-size: 60%;
  display: block;
  height: 0;
  margin: 0 auto;
  padding: 0 0 15%;
  transition: all .25s ease;
}

.hero{
  -ms-flex-align:center;
  align-items:center;
  background-color:#5baddd;
  display:-ms-flexbox;
  display:flex;
  height:22.5rem;
  min-height: 95vh;
  text-align: center;
  padding: 6em 0 3em;
}

a {
  color: #5baddd;
  text-decoration: none;
  font-weight:bold;
}

a:hover {
  color: #F94A4B;
}
.text-content {
  max-width: 600px;
  margin: 0 auto;
}
section {
  padding: 8em 1em;
  border-bottom: 1px solid #ccc;
}
.white {
  background-color:#ffffff;
}

@media (max-width: 480px) {
  nav {
    display: none;
  }
  header {
    background-size: 90%;
  }
}
.thumbnail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90%;
}
.thumbnail {
  display: flex;
  margin: 10px;
  width:200px;
  height:200px;
  /*clip: rect(0px,200px,200px,0px);*/
  object-fit: cover;
}

/* Modal */
.modal p {
  font-size: 13px;
}
.modal h1, h2, h3, h4, h5, h6 { 
  font-family: 'Andika'; 
}
.modal h1 {
  font-size: 20px; 
  font-weight: bold;
}
.modal h2 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 90%;
  }
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-item {
  margin: 5px;
  flex-grow:1;
  align-self: flex-start;
}

/* Customizing Carousel */
.carousel-item img {
  display:flex;
  align-self: flex-start;
}
.flex-container .carousel {
  width: 500px;
}
.carousel-item img {
  object-fit: scale-down;
}
.carousel-caption p{
  background-color: rgba(0,0,0,.7);
  font-weight:bold;
}
.carousel ol {
  bottom:0;
  top:10px;
} 

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators li.active {
  background-color: black;
}

.control-custom {
    display:inline-block;
    margin: 10px;
    border-radius: 60px;    
    background-color:black;
    padding: 5px 9px;   
}
.carousel-control-prev, .carousel-control-next {
  color:white;
  padding-top: 20px;
  align-items: flex-start;
}
