body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 16px;
  color: #333333;
  margin:0;
}
.container {
  padding: 40px 100px;
}
p {
  line-height: 1.5;
  margin: 20px 0;
}
p a {
  text-decoration: underline;
}
h1 {
  font-family:'Kaushan Script', sans-serif;
  color: #FF4B4B;
  font-size:48px;
  margin-top:0;
}
h1:hover{
  color: #FF7878;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: #222;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0085A1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
img {
  max-width:100%;
}
blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
li{
  margin-top:.5em;
  line-height: 1.5;
}
footer {
  background-color: #283442;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  color: #485761;
  font-size: 12px;
  letter-spacing: 0.2em;
  padding: 70px;
  margin-top: 20px;
}
footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background: repeating-linear-gradient(to right, #3498db, #3498db 30px, #eff3f5 30px, #eff3f5 60px, #ff5e37 60px, #ff5e37 90px, #eff3f5 90px, #eff3f5 120px);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 1em 0;
}

.cell {
  flex: 1;
  margin: 6px;
}
.row {
  clear: both;
  padding: 0 0 0 0;
}
.col {
  float: left;
  text-align: right;
}
.row .col:last-child {
  margin-left: 40px;
  text-align: left;
}
.row .col:first-child {
  margin:0;
}
#content,
#education {
  clear: both;
  margin: 0 auto;
  padding-bottom: 20px;
  float:left;
  text-align:left;
}
.header {
  display:block;
  margin-bottom:20px;
}
.header > h1 {
  display:inline-block;
}
.top-nav {
  display:inline-block; 
  float:right;
}
.top-nav > a {
  font-family:'Kaushan Script', sans-serif;
  color: #333333;
  font-size:22px;
  margin-left:22px;
}
.top-nav > a:hover {
  color: #888888;
}
.side {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  padding: 0;
}
.side-nav a {
  font-size: 15px;
  color: #333333;
}
.side-nav li {
  padding: 3px 10px;
}
.side-nav li:hover {
  background-color: #eff3f5;
}
figcaption {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.content {
  margin:0;
  padding:50px 100px;
  color:white;
  background-color:#2DCB9E;
}
.text-container {
  margin:0 auto;
  max-width:700px;
}
.content > .text-container > h1 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color:white;
}
.figure {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body { 
    padding:10px;max-width:100%
  }
  .top-nav{
    display:none;
  }

}